body{
    margin: 0;
    padding: 0;
    font-family: 'titillium_webregular', 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f8d4e5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    min-width: 320px;
    line-height: 1.8;
    font-size: 18px;
    color: #1c1550;
}
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out, background-color 0.2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
a:hover {
    color: #fbaf3f;
    text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: .7em;
    font-family: 'Authenia-Textured', selimaregular, serif;
    margin: 15px 0;
    color: #1c1550;
    text-transform: none;
    letter-spacing: 0;
}
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 130px;
}
h6 {
    font-size: 16px;
}

input,
textarea {
    border: none;
    border-bottom: 1px solid #1c1550;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    padding: 13px 0;
    color: #1c1550;
    margin-bottom: 30px;
}
input::placeholder, textarea::placeholder {
    color: #1c1550;
    padding-left: 0;
}
.has-error input, .has-error textarea{
    border-bottom: 2px solid #fe3237;
    margin-bottom: 10px;
}

p {
    margin: 0 0 20px 0;
    padding: 0;
}

.section-title {
    text-align: center;
    margin-bottom: 100px;
}
ul.list-none,
ol.list-none {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.return-msg, .return-msg-input {
    color: #fe3237;
    margin-top:10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}
.return-msg-input {
    margin-top:0;
}
/*----------------------*/
/*   GO TO TOP          */
/*----------------------*/
.toTop {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    background-color: #9f81a3;
    color: #fff !important;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    line-height: 50px;
    z-index: 666;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.toTop:hover {
    text-decoration: none;
}
.toTop:hover i {
    animation: animateIconTop 0.3s forwards;
}
.toTop.cd-is-visible,
.toTop.cd-top.cd-fade-out {
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    opacity: 0.5;
}
@media (max-width: 768px) {
    .toTop {
        display: none;
    }
}

/*----------------------*/
/*   PAGE BORDER        */
/*----------------------*/
.frame-line {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    background: #f8d4e5;
    z-index: 888;
}
.frame-line.top-frame {
    height: 30px;
    top: -30px;
}
.frame-line.bottom-frame {
    height: 30px;
    bottom: -30px;
}
.frame-line.right-frame {
    width: 30px;
    right: -30px;
    height: 100%;
    left: auto;
    top: 0;
}
.frame-line.left-frame {
    width: 30px;
    left: -30px;
    height: 100%;
    right: auto;
    top: 0;
}
.frame-line.animated {
    transition: all 0.35s ease-in-out;
}
.frame-line.animated.top-frame {
    top: 0;
}
.frame-line.animated.bottom-frame {
    bottom: 0;
}
.frame-line.animated.right-frame {
    right: 0;
}
.frame-line.animated.left-frame {
    left: 0;
}

@media (max-width: 768px) {
    .frame-line {
        display: none;
    }
}

/*----------------------*/
/*   BTN                */
/*----------------------*/
.btn {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: #1c1550;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 70px;
    position: relative;
    outline: none;
    background-color: transparent;
    border: 3px solid #1c1550;
}
.btn span {
    position: relative;
    z-index: 2;
}
.btn::after {
    content: '';
    background-color: #1c1550;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    position: absolute;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.btn:hover {
    color: #fff;
    text-decoration: none;
}
.btn:hover::after {
    height: 100%;
}
.btn-white {
    color: #fff;
}
.btn-white:hover {
    color: #fff;
}
.btn:focus {
    outline: none;
}
.btn.disable {
    cursor: default;
}
.btn.line-vert::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    top: -85%;
    left: 50%;
    z-index: 22;
    background-color: #d5eeef;
    transition: all 0.2s ease-in-out;
}
.btn.line-vert:hover::before {
    top: 85%;
}
.btn.line-hor::before {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 1px;
    top: 50%;
    left: 100%;
    z-index: 22;
    margin-left: -10px;
    background-color: #d5eeef;
    transition: all 0.2s ease-in-out;
}
.btn.line-hor:hover::before {
    left: -70px;
    margin-left: 0;
}
@media (max-width: 480px) {
    .btn {
        padding: 12px 40px;
    }
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*                                                              MENU                                                  */
/*--------------------------------------------------------------------------------------------------------------------*/
.crazy-navbar {
    position:relative;
    /*position: absolute;*/
    /*top: -30px;*/
    left: 0;
    right: 0;
    z-index: 889;
    background-color: #f8d4e5;
}

.crazy-navbar .container {
    position: relative;
}
.crazy-logo {
    float: left;
    line-height: 122px;
}
.crazy-nav {
    float: right;
}
.sf-menu {
    list-style: none;
}
.sf-menu li {
    position: relative;
}
.sf-menu > li {
    padding: 45px 0;
}
.sf-menu ul {
    position: absolute;
    display: none;
    list-style-type: none;
    margin: 0;
    top: calc(100% - 3px);
    min-width: 200px;
    padding: 10px 25px;
    left: 0;
    z-index: 99;
    background-color: #fff;
    border-top: 3px solid #d5eeef;
}
.sf-menu ul li a {
    display: block;
    text-transform: uppercase;
    color: #1c1550;
    line-height: 35px;
    font-size: 13px;
    letter-spacing: 1px;
}
.sf-menu ul li a:hover {
    text-decoration: none;
    color: #d5eeef;
}
.sf-menu ul li.current-page-item a {
    color: #d5eeef;
}
.sf-menu > li {
    float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    display: block;
    animation: fadeMenu 0.25s forwards;
}
.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu ul ul {
    top: 0;
    left: 100%;
}
.sf-menu {
    margin: 0;
    padding: 0;
}
.sf-menu > li {
    margin-left: 58px;
}
.sf-menu > li > a {
    font-size: 16px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color: #1c1550;
    position: relative;
    padding: 2px 0;
}

.sf-menu > li > a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: -19px;
    height: 15px;
    display: block;
    width: 0;
    transition: all 0.35s ease-in-out;
}

.sf-menu > li.home > a::after {
    background: url("../img/current-menu-item-home.png") no-repeat;
}

.sf-menu > li.nuestro_metodo > a::after {
    background: url("../img/current-menu-item-nuestro-metodo.png") no-repeat;
    bottom: -7px;
    height: 17px;
    left: -37px;
}

.sf-menu > li.slqmmg > a::after {
    background: url("../img/current-menu-item-home.png") no-repeat;
    left: -10px;
}
.sf-menu > li.hablemos_de_tu_proyecto > a::after {
    background: url("../img/current-menu-item-hablemos-de-tu-proyecto.png") no-repeat;
    bottom: -7px;
    height: 17px;
    left: -34px;
}

.sf-menu > li > a:hover {
    text-decoration: none;
}
.sf-menu > li:hover > a::after,
.sf-menu > li.current-menu-item > a::after,
.sf-menu > li.sfHover > a::after {
    width: 250px;
}

.sf-menu > li.hablemos_de_tu_proyecto:hover > a::after,
.sf-menu > li.hablemos_de_tu_proyecto.current-menu-item > a::after,
.sf-menu > li.hablemos_de_tu_proyecto.sfHover > a::after {
    width: 310px;
}

.crazy-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-bottom: 3px solid #1c1550;
}
@media (min-width: 1500px) {
    .crazy-border {
        left: -100px;
        right: -100px;
    }
}
.mobile-menu-wrap {
    display: none;
    position: relative;
    z-index: 888;
}
.mobile-menu-wrap nav {
    background-color: #fff;
    border-bottom: 3px solid #1c1550;
}
.mobile-menu-wrap nav ul {
    margin: 0;
    padding: 15px;
}
.mobile-menu-wrap nav ul li {
    padding: 5px 0;
}
.mobile-menu-wrap nav ul li > a {
    display: block;
    color: #1c1550;
}
.mobile-menu-wrap nav ul li:hover >a,
.mobile-menu-wrap nav ul li.current-menu-item >a {
    color: #d5eeef;
    text-decoration: none;
}
.mobile-menu-wrap nav ul li:hover > ul {
    display: block;
}
.mobile-menu-wrap nav ul li ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
.mobile-menu-wrap nav ul li.current-page-item a {
    color: #d5eeef;
}
.open-menu {
    float: right;
    display: none;
    text-align: center;
    position: relative;
    line-height: 122px;
    z-index: 222;
}
.open-menu.isActive .burger-icon i {
    background-color: transparent;
}
.open-menu.isActive .burger-icon i::before {
    transform: translateY(8px) rotate(45deg);
}
.open-menu.isActive .burger-icon i::after {
    transform: translateY(-8px) rotate(-45deg);
}
.burger-icon {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 5px;
}
.burger-icon i {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}
.burger-icon i,
.burger-icon i::before,
.burger-icon i::after {
    width: 30px;
    height: 3px;
    background-color: #1c1550;
    display: block;
    transition-duration: 0.3s;
    transition-property: background-color, transform;
}
.burger-icon i::before,
.burger-icon i::after {
    content: '';
    position: absolute;
}
.burger-icon i::before {
    top: -8px;
}
.burger-icon i::after {
    top: 8px;
}
@media (max-width: 992px) {
    .open-menu {
        display: block;
    }
    .crazy-nav {
        display: none;
    }
}
@media (min-width: 992px) {
    .mobile-menu-wrap {
        display: none !important;
    }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*                                                    FOOTER                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/
footer {
    position: relative;
}

.footer-inner {
    padding: 90px 0 30px 0;
    margin-top: 30px;
    position: relative !important;
    background-color: #ffffff;
}
footer .catarsis-logo{
    width:100%;
}
.footer-social p{
    margin-top: 0;
}
.footer-social ul {
    display: inline-block;
}
.footer-social ul li {
    float: left;
    margin: 0 8px;
}
.footer-social ul li.first{
    margin-left: 0;
}
.footer-social ul li a {
    display: block;
    font-size: 22px;
    color: #1c1550;
}
.footer-social a:hover {
    color: #d5eeef;
    text-decoration: none;
}
.footer-social a:hover i {
    animation: animateIconTop 0.3s forwards;
}

.footer-copy p{
    margin-top: 0;
    margin-left: 20px;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*                                                    ATOMIC CLASSES                                                  */
/*--------------------------------------------------------------------------------------------------------------------*/
.text-center {
    text-align: center;
}
.mt40 {
    margin-top: 40px;
    display: block;
}
.mb40{
    margin-bottom: 40px;
    display: block;
}
.pt60 {
    padding-top: 60px;
    display: block;
}
.pb60 {
    padding-bottom: 60px;
    display: block;
}
.pt150 {
    padding-top: 150px;
    display: block;
}
.pb150 {
    padding-bottom: 150px;
    display: block;
}
@media (max-width: 768px) {
    .sm-mb30 {
        margin-bottom: 30px;
        display: block;
    }
}

