section.slqmmg {
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #fcf5d4;
    text-align: center;
}

section.slqmmg .section-title{
    background-image: url(../img/slqmmg-title-back.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -80px;
    padding-top: 80px;
    margin-bottom: -80px;
    padding-bottom: 80px;
}

section.slqmmg .info{
    margin-top: 50px;
}

section.slqmmg .image-container{
    margin-bottom: 40px;
}
section.slqmmg .image-container img{
    width:100%;
}

section.slqmmg h4{
    font-size: 28px;
}
section.slqmmg .bwf-logo-container{
    width: 100%;
    text-align: center;
    margin-top: -100px;
}

section.slqmmg .text-container{
    background-image: url(../img/slqmmg-text-back.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -80px;
    padding-top: 60px;
    margin-bottom: -80px;
    padding-bottom: 80px;
    float: left;
}
/*----------------------*/
/*   CAPITULOS          */
/*----------------------*/
section.slqmmg.capitulos{
    text-align: left;
    padding-top: 0;
}
.capitulo-item {
    margin-bottom: 30px;
}
.capitulo-item .thumb {
    position: relative;
    padding:0;
    margin:0;
}

.capitulo-item img{
    width: 100%;
    height: auto;
    box-sizing: content-box;
}
.capitulo-item h6 {
    text-transform: uppercase;
    margin: 15px 0;
}
.capitulo-item h6 a:hover {
    text-decoration: none;
}
